html,
body {
    background-color: #444;
    height: 100%;
    font-family: "ALS Story", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    padding-top: 25px;
    background-color: white;
}

.main-title,
.title {
    color: #333;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.photo {
    text-align: center;
}

.photo img {
    vertical-align: middle;
    /*float: right;*/
    padding: 10px 0;
}

.button-element {
    margin-top: 25px;
}

#info-section {
    background-color: white;
    padding: 10px 10px 20px 15px;
}

.nobullets {
    list-style: none;
}

#graduate-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#graduate-section {
    background-color: #fafafa;
    padding-top: 25px;
    padding-bottom: 20px;
}

.item-text {
    padding-left: .75em;
}


/*
#spbsu-item {
    list-style-image: url(../images/_spbsu_logo.png);
}
*/


/*
#polytech-item {
    list-style-image: url(../images/_polytech_logo.png);
}
*/


/*
#technopolis-item {
    list-style-image: url(../images/_technopolis_logo.png);
}
*/

#computer-section .title {
    letter-spacing: normal;
}

#computer-section {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 20px;
}

#additions-section {
    background-color: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 20px;
}

#contacts-section {
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-size: 3em;
    letter-spacing: 0.2em;
    text-align: center;
    background-color: white;
}

.contacts-content {
    line-height: 1em;
}

.tel {
    font-size: 1.8rem;
    letter-spacing: normal;
}

footer {
    background-color: #444;
    margin: -10px;
}

footer p {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.77em;
    font-weight: 100;
    letter-spacing: 0.25em;
    color: #b2b2b2;
}

@media (max-width: 635px) and (min-width: 550px) {
    .my-photo {
        content: url(http://placehold.it/130x130/);
    }
}

@media (min-width: 900px) {
    .my-photo {
        content: url(http://placehold.it/200x200/);
    }
}

@font-face {
    font-family: 'ALS Story';
    src: url('fonts/ALS Story Regular.eot') format('eot'), url('fonts/ALS Story Regular.woff') format('woff'), url('fonts/ALS Story Regular.ttf') format('truetype'), url('fonts/ALS Story Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Story';
    src: url('fonts/ALS Story Bold.eot?') format('eot'), url('fonts/ALS Story Bold.woff') format('woff'), url('fonts/ALS Story Bold.ttf') format('truetype'), url('fonts/ALS Story Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Story';
    src: url('fonts/ALS Story Bold Italic.eot?') format('eot'), url('fonts/ALS Story Bold Italic.woff') format('woff'), url('fonts/ALS Story Bold Italic.ttf') format('truetype'), url('fonts/ALS Story Bold Italic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}
