@font-face {
    font-family: "ALS Story";
    font-weight: normal;
    font-style: normal;
    src: url("assets/fonts/ALS/ALSStoryRegular.woff2") format("woff2"),
    url("assets/fonts/ALS/ALSStoryRegular.woff") format("woff"),
    url("assets/fonts/ALS/ALSStoryRegular.ttf") format("truetype");
    font-display: swap;
}

/* TODO: disabled for future use */
/*@font-face {*/
    /*font-family: "ALS Story";*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*src: url("assets/fonts/ALS/ALSStoryBold.woff2") format("woff2"),*/
    /*url("assets/fonts/ALS/ALSStoryBold.woff") format("woff"),*/
    /*url("assets/fonts/ALS/ALSStoryBold.ttf") format("truetype");*/
    /*font-display: swap;*/
/*}*/

/*@font-face {*/
    /*font-family: "ALS Story";*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    /*src: url("assets/fonts/ALS/ALSStoryBoldItalic.woff2") format("woff2"),*/
    /*url("assets/fonts/ALS/ALSStoryBoldItalic.woff") format("woff"),*/
    /*url("assets/fonts/ALS/ALSStoryBoldItalic.ttf") format("truetype");*/
    /*font-display: swap;*/
/*}*/
