html,
body {
    background-color: #444;
    width: 100%;
    height: 100%;
    font-family: "ALS Story", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
}

input[disabled] {
    cursor: pointer !important;
    color: #222;
    -webkit-text-fill-color: #222;
    -webkit-opacity: 1;
}

header {
    padding-top: 25px;
    background-color: white;
}

.main-title,
.title {
    color: #333;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.photo {
    text-align: center;
}

.photo img {
    vertical-align: middle;
    /*float: right;*/
    padding: 10px 0;
}

.button-element {
    margin-top: 25px;
}

.cv-button i {
    font-size: 14px;
}

.info-section {
    background-color: white;
    padding: 10px 10px 20px 15px;
}

.nobullets {
    list-style: none;
}

.mail,
.copy {
    float: left;
    border: 0;
    cursor: pointer;
}

.mail {
    padding: 4px 3px 3px 6px;
    border: dashed 1px #1EAEDB;
}

.mail:hover {
    border: dashed 1px #0FA0CE;
}

.copy {
    display: none;
    position: relative;
    padding: 3px;
    font-size: 0.8em;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1EAEDB;
}

.mail:hover + .copy,
.copy:hover {
    display: block;
}

.copied::after {
    position: absolute;
    top: -80%;
    right: -7%;
    display: block;
    content: "Скопировано";
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 2px 3px;
    color: #1EAEDB;
    opacity: 0;
    will-change: opacity, transform;
    -webkit-animation: showcopied 0.5s ease-in-out;
    animation: showcopied 0.5s ease-in-out;
}

@-webkit-keyframes showcopied {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    15% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@keyframes showcopied {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    15% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.section {
    padding-top: 25px;
    padding-bottom: 20px;
}

.graduate-section {
    background-color: #fafafa;
}

.graduate-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.graduate-section .item-text {
    padding-left: .75em;
}

.computer-section {
    background-color: #e8e8e8;
}

.computer-section .title {
    letter-spacing: normal;
}

.computer-section .skill {
    word-spacing: .2em;
}

.job-section {
    background-color: #f5f5f5;
}

.job-section .job {
    display: block;
    margin-bottom: .4rem;
    color: #353535;
    font-weight: 300;
}

.job.name {
    font-size: 1.4em;
    color: #1EAEDB;
}

.job.title {
    font-size: 1.2em;
}

.job.duration {
    font-size: 1em;
    color: #7f7786;
    margin-bottom: 1.7rem;
}

.job-logo {
    max-width: 50%;
}


.additions-section {
    background-color: #eee;
}

.contacts-section {
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-size: 3em;
    letter-spacing: 0.2em;
    text-align: center;
    background-color: white;
    line-height: 1.3em;
}

.contacts-section .tel {
    font-size: 1.8rem;
    letter-spacing: normal;
}

footer {
    background-color: #444;
    margin: -10px;
}

footer p {
    text-align: center;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.77em;
    font-weight: 100;
    letter-spacing: 0.25em;
    color: #b2b2b2;
}

@media (max-width: 550px) {
    .computer-section .title {
        font-size: 2.4rem;
        letter-spacing: .05em;
    }
    .job-logo {
        margin: auto;
        max-width: 30%;
    }
}

@media (max-width: 635px) and (min-width: 550px) {
    .my-photo {
        content: url(../assets/images/photo_130.png);
    }
    .job-logo {
        max-width: 70%;
    }
}

@media (min-width: 900px) {
    .my-photo {
        content: url(../assets/images/photo_200.png);
    }
}

@font-face {
    font-family: 'ALS Story';
    src: url('../assets/fonts/ALS/ALS Story Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/ALS/ALS Story Regular.woff') format('woff'),
         url('../assets/fonts/ALS/ALS Story Regular.ttf') format('truetype'),
         url('../assets/fonts/ALS/ALS Story Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Story';
    src: url('../assets/fonts/ALS/ALS Story Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/ALS/ALS Story Bold.woff') format('woff'),
         url('../assets/fonts/ALS/ALS Story Bold.ttf') format('truetype'),
         url('../assets/fonts/ALS/ALS Story Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Story';
    src: url('../assets/fonts/ALS/ALS Story Bold Italic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/ALS/ALS Story Bold Italic.woff') format('woff'),
         url('../assets/fonts/ALS/ALS Story Bold Italic.ttf') format('truetype'),
         url('../assets/fonts/ALS/ALS Story Bold Italic.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}
