:root {
    --html-bgc: #444;
    --body-bgc: #fff;
    --header-bgc: #fff;
    --personal-info-bgc: #fff;
    --education-bgc: #fafafa;
    --skills-bgc: #e8e8e8;
    --job-bgc: #f5f5f5;
    --additions-bgc: #eee;
    --contact-bgc: #fff;
    --footer-bgc: #444;
    --white-font: #fff;
    --bright-blue-font: #33c3f0;
    --blue-font: #0fa0ce;
    --light-blue-font: #1eaedb;
    --light-blue-hovered-font: #0fa0ce;;
    --gray-font: #333;
    --low-gray-font: #222;
    --middle-gray-font: #7f7786;
    --light-gray-font: #b2b2b2;

    --2-px: .125rem;
    --3-px: .1875rem;
    --4-px: .25rem;
    --6-px: .375rem;
    --8-px: .5rem;
    --10-px: .625rem;
    --11-px: .6875rem;
    --12-px: .83333333rem;
    --15-px: .9375rem;
    --17-px: 1.0625rem;
    --18-px: 1.125rem;
    --20-px: 1.25rem;
    --24-px: 1.5rem;
    --25-px: 1.5625rem;
    --30-px: 1.875rem;
    --35-px: 2.1875rem;
    --36-px: 2.25rem;
    --45-px: 2.8125rem;
    --200-px: 12.5rem;
    --500-px: 31.25rem;

    --big-header-fsz:  1.875rem;
    --middle-header-fsz: 1.5rem;
    --small-header-fsz: 1.125rem;

    --min-layout-width: 19.375rem;
    --max-layout-width: 60rem;
    --max-photo-width: 15.625rem;
}
